<div class="testimonial-section">
  <blockquote>"{{ section.settings.quote }}"</blockquote>
  <cite>- {{ section.settings.author }}</cite>
</div>

<style>
  .testimonial-section {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
  }
</style>

{% schema %}
{
  "name": "Testimonial",
  "target": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote",
      "default": "<p>This is the best product I have ever used!</p>"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author",
      "default": "Happy Customer"
    }
  ]
}
{% endschema %}
